footer{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.footer-link{
    padding: 0;
    text-align: start;
}

.footer-author > p{
    color: #f0f0f0;
    text-align: start;
    padding-left: 32px;
}


.footer-link * {
    color: #f0f0f0;
    border: none;
    background-color: #00cba9;
}

.footer-link li a {
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    color: #f0f0f0;
}

.footer-link li a:hover {
    color: lightcoral;
    text-decoration: underline;
}

.icon {
    width: 40px;
    height: 40px;
}

#input-email{
    border-radius: 25px;
    text-indent: 10px;
    width: 300px;
    height: 50px;
}
#input-email::placeholder{
    font-size: 1.2rem;
}